python=3.10

docker=24.0.6
mysql=8.0
jupyter=7.0.6
notebook=7.0.6

ipykernel=6.25.2
ipython=8.15.0
ipython-genutils=0.2.0
ipython-sql=0.5.0

mysqlclient=2.2.0
jupysql=0.10.4
jupysql-plugin=0.2.7

pandas=1.5.3
matplotlib=3.7.1
seaborn=0.12.2
python-dotenv=1.0.0
sqlalchemy=2.0.23
urllib3=2.1.0
